{{- $gitSecrets := bitwardenFields "item" "dots-git-secrets" -}}
[user]
    name  = {{ .gitName }}
    email = {{ .gitEmail }}

[core]
    editor = vim

[init]
    defaultBranch = main

[pull]
    rebase = true

[credential]
    helper = {{ (index $gitSecrets "credential_helper").value }}

{{ if .proxy -}}
[http]
    proxy = {{ .proxy }}
{{ end -}}
